.App {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.heading-logo{
  color: #60b0f4;
  letter-spacing: 0.5ch;
  font-weight: normal;
  margin: 0px;
}

.subheading{
  margin-top: 0px;
  font-size: 10px;
  color: #3eb4f1;
  word-spacing: 2px;
}