.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-logo{
    color: #60b0f4;
    letter-spacing: 0.5ch;
    font-weight: normal;
    margin: 0px;
  }
  
.routes-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.route-link{
  margin: 0 5px;
}